/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-shadow: #FF0070;
  --section-title-color: #FF0070;
  --accent-text-color: #000028;
  --menu-color: #FF0070;
  --menu-hover-border: rgba(255, 0, 112, 0.4);
  --background-image: url('../images/cover-image-dark.png');
  --article_link-shadow: 2px 2px 0 var(--accent-shadow);
}

.theme-dark .header__rec {
  display: block;
  position: absolute;
  right: 40px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.theme-dark .header__rec::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark) {
    --background-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --accent-shadow: #FF0070;
    --section-title-color: #FF0070;
    --accent-text-color: #000028;
    --menu-color: #FF0070;
    --menu-hover-border: rgba(255, 0, 112, 0.4);
    --background-image: url('../images/cover-image-dark.png');
    --link-shadow: 2px 2px 0 var(--accent-shadow);
  }
  
  :root:not(.theme-light):not(.theme-dark) .header__rec {
    display: block;
    position: absolute;
    top: 10px;
    right: 48px;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    z-index: 1;
  }
  
  :root:not(.theme-light):not(.theme-dark) .header__rec::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -20px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
  }
}