/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-shadow: #FF0070;
  --section-title-color: #FF0070;
  --accent-text-color: #000028;
  --menu-color: #FF0070;
  --menu-hover-border: rgba(255, 0, 112, 0.4);
  --background-image: url('../images/cover-image-dark.png');
  --link-shadow: 2px 2px 0 var(--accent-shadow);
  --decorated-zone: #FF0070;
}

.theme-dark .header__rec {
  display: block;
}