/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: 1.3;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color, #F1B2CE);
}
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #FF0070);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: repeat(1, 2fr);
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  position: relative;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color, #FF0070);
  font-size: var(--main-font-size);
  line-height: 25px;
  text-transform: uppercase;
  z-index: 1;
}

.header__rec::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  line-height: 25px;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--menu-color, #FF0070);
  font-size: var(--main-font-size);
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-hover-border, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--menu-color, #FF0070);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-shadow, #FF0070);
  line-height: 0.825;
}

.header__description {
  justify-self: end;
  width: 100%;
  max-width: 491px;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--accent-text-color, #000028);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
}

.link {
  text-shadow: var(--link-shadow, 2px 2px 0 #FF0070);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 10px;
  margin-top: 20px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: var(--main-font-size);
  font-weight: 700;
  color: var(--section-title-color, #FF0070);
  line-height: 1.3;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-size: var(--main-font-size);
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.article__text {
  line-height: 1.3;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: var(--main-font-size);
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.card__text {
  line-height: 1.3;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-shadow, #FF0070);
  line-height: 0.825;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
  
  .header__description {
    place-self: center end;
    display: flex;
    flex-direction: column;
    line-height: 130%;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .reasons-section,
  .concentration-section,
  .card-section {
    grid-template-columns: 1fr 2fr;
  }
  
  .reasons-section .section__title,
  .card-section .section__title {
    grid-row: span 2;
  }
  
  .reasons-section .section__content,
  .card-section .section__content {
    grid-column: 2;
  }

  .concentration-section {
    grid-template-columns: 1fr;
  }
  
  .concentration-section .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery-section {
    gap: 20px;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
    margin-left: 20px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__description {
    margin-top: 114px;
  }
  
  .card-section .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery {
    grid-template-rows: 260px 315px 428px;
  }
}